**/env
src/utils/__pycache__
src/model/__pycache__
src/controller/__pycache__
src/schema/__pycache__
**/venv
__pycache__/
/__pycache__
**/.myenv
machineLearning/modelo_naive_bayes.joblib
machineLearning/modelo_textblob.joblib
machineLearning/modelo_catboost.joblib
